*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  width: 500px;
  /* background-color:aqua; */
  margin: auto;
  padding: 20px 15px;
  border: 3px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.heading{
  margin-bottom: 20px;
  background-color: darkblue;
  color: white;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
}

.inputContainer{
 /* background-color: blueviolet; */
padding: 5px;
text-align: center;
margin-bottom: 25px;
}


.inputContainer h2{
   margin-bottom: 15px ;
}

.inputContainer input{
  width: 210px;
  height: 35px;
  padding: 2px 10px;
  font-size: 16px;
}

.inputContainer button{
  width: 80px;
  height: 35px;
  padding: 2px 10px;
  font-size: 16px;
}